apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: vvce-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: vvce-client
                port:
                  number: 80
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: vvce-server
                port:
                  number: 5000
