apiVersion: apps/v1
kind: Deployment
metadata:
  name: vvce-server
  labels:
    app: vvce-server
spec:
  replicas: 2
  selector:
    matchLabels:
      app: vvce-server
  template:
    metadata:
      labels:
        app: vvce-server
    spec:
      containers:
        - name: vvce-server
          image: vvce-server:latest
          ports:
            - containerPort: 5000
          env:
            - name: PORT
              value: "5000"
          resources:
            limits:
              cpu: "250m"
              memory: "256Mi"
            requests:
              cpu: "100m"
              memory: "128Mi"
